[tool.ruff]
line-length = 100
target-version = "py311"
exclude = [
  ".git",
  ".idea",
  ".venv",
  "venv",
  "allure-results",
  "allure-report",
]

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
  "W",
  "N",
  "UP",
  "B",
]
ignore = [
  "N802",
  "N803",
  "N806",
]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
warn_unused_configs = true
check_untyped_defs = true
exclude = "(^\\.venv/|^venv/)"

[tool.black]
line-length = 100
target-version = ["py311"]
exclude = "(/\\.venv/|/venv/|/allure-results/|/allure-report/)"
